.item {
    display: flex;
    align-items: center;

    padding: 10px 15px;
    gap: 20px;
   
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.statusOnline {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: green;
}

.statusOffline {
    composes: statusOnline;
    background-color: red;
}

.avatar {
    width: 64px
}

.name {
    font-size: 24px;
    font-weight: 500;
}