.transactionHistory {
    width: 650px;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    overflow: hidden;
    

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    
}

thead tr {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #02bbd6;
}

tbody {
    font-size: 20px;
}

th, td {
    padding: 15px 0;
    text-align: center;
}

th:not(:last-child), td:not(:last-child)  {
    border-right: 1px solid #c7c7c7;
}

tbody tr:nth-child(2n+1){
    background-color: #ecf1f3;
}

td:first-child {
    text-transform: capitalize;
}